<footer>
    <div class="contact-info">
        <h4>Contact Us</h4>
        <p>Email: info@wishwonder.com</p>
        <p>Phone: +45 12 34 56 78</p>
        <p>Terms of use</p>
        <p>Cookie policy</p>
        <p>Privacy</p>
        <p>About</p>
        <p>Help</p>

    </div>
    <div class="social-media">
        <a href="https://www.facebook.com" target="_blank">Facebook</a>
        <a href="https://www.instagram.com" target="_blank">Instagram</a>
        <a href="https://twitter.com" target="_blank">Twitter</a>
    </div>
</footer>
