<header class="site-header">
    <button onclick="window.location.href='/wishwonder'" class="logo">
    <img src="https://i.ibb.co/YNnSV2f/707dc3a2267e8fba9ee89df6729e5c17.png" alt="WishWonder Logo" class="logo">
    </button>
        <div class="header-title">WishWonder</div>
    <nav>
        <ul>
            <li><a href="/wishwonder/lists">Your wishlists</a></li>
            <li><a href="/wishwonder/contact">Contact</a></li>
        </ul>
    </nav>
    <div class="login-box">
        <a href="/wishwonder/login" class="login-button">Login</a>
    </div>
    <div class="create-user">
        <a href="/wishwonder/createuser" class="create-button">Create User</a>
    </div>
</header>
