
<header class="site-header">
    <img src="https://i.ibb.co/YNnSV2f/707dc3a2267e8fba9ee89df6729e5c17.png" alt="WishWonder Logo" class="logo">

    <div class="header-title">WishWonder</div>
    <nav>
        <ul>
            <li><a href="/wishwonder/createlist">Create wishlist</a></li>
            <li><a href="/wishwonder/createwish">Add a wish</a></li>
            <li><a href="/wishwonder/lists">Your wishlists</a></li>
            <li><a href="/wishwonder/contact">Contact</a></li>
        </ul>
    </nav>
</header>
