<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Wishlist</title>
  <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body class="create-a-wishlist">
<div th:replace="~{fragments/header :: header}"></div>
<form action="/wishwonder/savelist" th:object="${wishlist}" method="post">
  <p>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}"/>
  </p>
  <p>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" th:field="*{description}"/>
  </p>

  <input type="submit" value="Create wishlist" /></form>

</form>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>