<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<table class="wishlist-list">
    <thead>
    <tr>
        <th>Your wishlists:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wishList : ${wishlists}" th:class="'highlight-bar'">
        <td>
            <a th:text="${wishList.name}">Wishlist name</a>
            <p>Description: <strong th:text="${wishList.description}"></strong></p>
            <p>Amount of items: <strong th:text="${wishList.amountOfWishes}"></strong></p>
            <div th:replace="~{fragments/footer :: footer}"></div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
