<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show all wishes</title>
  <link th:href="@{/main.css}" rel="stylesheet">
</head>

<div th:replace="~{fragments/headerlogin :: header}"></div>

<table class="share-list">
  <thead>
  <tr>
    <th>Wishes</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="Wish : ${wishes}" th:class="'share-list'">
    <td>
      <p>Name: <strong th:text="${Wish.name}"></strong></p>
      <p>Description: <strong th:text="${Wish.description}"></strong></p>
      <p>Store: <strong th:text="${Wish.store}"></strong></p>
      <p>Price: <strong th:text="${Wish.price}"></strong></p>
      <p>Link: <strong th:text="${Wish.link}"></strong></p>
      <p>Amount: <strong th:text="${Wish.amount}"></strong></p>
      <form th:action="@{'/wishwonder/' + ${username} + '/' + ${wishlist} + '/' + ${Wish.name}}" method="post">
      <p>Reserved?: <strong th:text="${Wish.reserved}"></strong></p>
      <button type="submit" class="button">Reserve wish</button>
      </form>

    </td>
  </tr>
  </tbody>
</table>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
