<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show all wishes</title>
  <link th:href="@{/main.css}" rel="stylesheet">
</head>

<div th:replace="~{fragments/headerlogin :: header}"></div>

<table class="share-list">
  <thead>
  <tr>
    <th>Wishes</th>
  </tr>
  </thead>
  <tbody>
  <p th:if="${reserveError}" th:text="${reserveError}" class="error-message"></p>
  <p th:if="${userError}" th:text="${userError}" class="error-message"></p>
  <tr th:each="Wish : ${wishes}" th:class="'share-list'">
    <td>
      <p>Name: <strong th:text="${Wish.name}"></strong></p>
      <p>Description: <strong th:text="${Wish.description}"></strong></p>
      <p>Store: <strong th:text="${Wish.store}"></strong></p>
      <p>Price: <strong th:text="${Wish.price}"></strong></p>
      <p>Link: <strong th:text="${Wish.link}"></strong></p>
      <p>Amount: <strong th:text="${Wish.amount}"></strong></p>
      <p>Reserved?: <strong th:text="${Wish.reserved}"></strong></p>
      <a th:href="@{'/wishwonder/' + ${username} + '/' + ${wishlist} + '/' + ${Wish.name}}">
      <button type="submit" class="button">Reserve wish</button>
      </a>

    </td>
  </tr>
  </tbody>
</table>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
